@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,100italic,300italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:700,400,300);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Poppins:wght@400;700;900&display=swap);
/****************************
*   FOR RESPONSIVENESS      *
****************************/
::selection {
  background: #4f5362;
  /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: #4f5362;
  /* Gecko Browsers */
  color: #fff;
}
html {
  font-size: 14px;
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 17px;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1024px) {
  p {
    font-size: 1em;
    margin-bottom: 1.8em;
  }
}
/****************************
*      BODY DEFAULTS        *
****************************/
body {
  font-size: 11px;
  background-color: #1c1c1c;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  max-height: fit-content;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #37a6c4;
}
a:hover {
  text-decoration: none;
  color: #5db9d1;
}

#inner-headline {
  box-shadow: 0 5px 10px #d9d9d9;
  background: #dfd7ca;
  position: relative;
  margin: 0;
  padding: 0;
  color: #000000;
  /* margin: 15px; */
  margin-bottom: 20px;
  border-top: 10px solid #dbd0bf;
}
.row,
.row-fluid {
  margin-bottom: 30px;
}

.row .row,
.row-fluid .row-fluid {
  margin-bottom: 30px;
}

.row.nomargin,
.row-fluid.nomargin {
  margin-bottom: 0;
}

/*  Header
==================================== */

header .navbar {
  margin-bottom: 0;
}

.navbar-default {
  border: none;
}

.navbar-brand {
  color: #222;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: -1px;
  padding: 0 0 0 15px;
}
.navbar-default .navbar-brand {
  color: #61b331;
}

header .navbar-collapse ul.navbar-nav {
  float: right;
  margin-right: 0;
}

header .navbar-default {
  background-color: #ffffff;
}

header .nav li a:hover,
header .nav li a:focus,
header .nav li.active a,
header .nav li.active a:hover,
header .nav li a.dropdown-toggle:hover,
header .nav li a.dropdown-toggle:focus,
header .nav li.active ul.dropdown-menu li a:hover,
header .nav li.active ul.dropdown-menu li.active a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .navbar-default .navbar-nav > .open > a,
header .navbar-default .navbar-nav > .open > a:hover,
header .navbar-default .navbar-nav > .open > a:focus {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .navbar {
  min-height: 70px;
  padding: 18px 0;
}

header .navbar-nav > li {
  padding-bottom: 12px;
  padding-top: 12px;
}

header .navbar-nav > li > a {
  padding-bottom: 6px;
  padding-top: 5px;
  margin-left: 2px;
  line-height: 30px;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header {
  padding: 18px 0;
  width: 970px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
}
/* Ensures the navbar logo is small and aligned */
.small-logo {
  width: 70px; /* Adjust width as needed */
  height: auto; /* Keeps aspect ratio */
  display: inline-block; /* Ensures it's inline within the navbar */
  vertical-align: middle; /* Aligns it vertically in the middle */
}

.dropdown-menu li a:hover {
  color: #fff !important;
}

header .nav .caret {
  border-bottom-color: #f5f5f5;
  border-top-color: #f5f5f5;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #fff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #fff;
}

.dropdown-menu {
  box-shadow: none;
  border-radius: 0;
  border: none;
}

.dropdown-menu li:last-child {
  padding-bottom: 0 !important;
  margin-bottom: 0;
}

header .nav li .dropdown-menu {
  padding: 0;
}

header .nav li .dropdown-menu li a {
  line-height: 28px;
  padding: 3px 12px;
}
.item-thumbs img {
  margin-bottom: 15px;
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgb(255, 255, 255);
  cursor: default;
}
.flex-control-paging li a {
  width: 30px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
.panel-title > a {
  color: inherit;
  color: #fff;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 1px solid #ddd;
  color: #fff;
  background-color: #9c9c9c;
}
/* --- menu --- */

header .navigation {
  float: right;
}

header ul.nav li {
  border: none;
  margin: 0;
}

header ul.nav li a {
  font-size: 15px;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
}

header ul.nav li ul li a {
  font-size: 15px;
  border: none;
  font-weight: 300;
  text-transform: uppercase;
}

.navbar .nav > li > a {
  color: #848484;
  text-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0) !important;
}

.navbar .nav a:hover {
  background: none;
  color: #14a085 !important;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover {
  background: none;
  font-weight: 700;
}

.navbar .nav > .active > a:active,
.navbar .nav > .active > a:focus {
  background: none;
  outline: 0;
  font-weight: 700;
}

.navbar .nav li .dropdown-menu {
  z-index: 2000;
}

header ul.nav li ul {
  margin-top: 1px;
}
header ul.nav li ul li ul {
  margin: 1px 0 0 1px;
}
.dropdown-menu .dropdown i {
  position: absolute;
  right: 0;
  margin-top: 3px;
  padding-left: 20px;
}

.navbar .nav > li > .dropdown-menu:before {
  display: inline-block;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-bottom-color: none;
  content: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #14a085;
}

ul.nav li.dropdown a {
  z-index: 1000;
  display: block;
}

select.selectmenu {
  display: none;
}
.pageTitle {
  color: #000000;
  margin: 30px 0 3px;
  display: inline-block;
  font-weight: 800;
  font-size: 40px;
}

#featured {
  width: 100%;
  background: #000;
  position: relative;
  margin: 0;
  padding: 0;
}

/****************************
*      Buttons        *
****************************/

.footer {
  position: fixed;
  background: #dfd7ca;
  text-align: center;
  padding: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer {
  background: #dfd7ca;
  text-align: center;
  padding: 10px;
}

footer ul.link-list li a {
  color: #ffffff;
}
footer ul.link-list li a:hover {
  color: #e2e2e2;
}

.btn i {
  position: relative;
  top: -2px;
}
.btn.text-left {
  text-align: left;
}
.btn-brand {
  background: #37a6c4;
  color: #fff;
}
.btn-brand:hover {
  color: #fff;
  background: #2c849c;
}
.btn-dark {
  background: #272727;
  color: #fff;
}
.btn-dark:hover {
  color: #fff;
  background: #2c849c;
}
.btn-red {
  background: #4f5362;
  color: #fff;
}
.btn-red:hover {
  color: #fff;
  background: #383b46;
}
.btn-alt {
  background: #f0f0f0;
  color: #222;
}
.btn-alt:hover {
  color: #fff;
  background: #2c849c;
}
/****************************
*      Background Colors        *
****************************/
.bk-primary {
  background: #325d88;
}
.bk-success {
  background: #93c54b;
}
.bk-warning {
  background: #f47c3c;
}
.bk-danger {
  background: #d9534f;
}
.bk-info {
  background: #29abe0;
}
.bk-white,
.bk-light {
  background: #fff;
}
.bk-brand {
  background: #37a6c4;
}
.bk-dark {
  background: #222;
}
.bk-blue {
  background: #0010ce;
}
.bk-alt {
  background: #f7f7f7;
}
.bk-ghost {
  background: transparent;
}
.bk-img {
  position: relative;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../img/login-bg.jpg);
}
.bk-fixed {
  background-attachment: fixed;
}
.hr-green {
  height: 2px;
  background: #37a6c4;
}
.hr-grey {
  height: 2px;
  background: #f0f0f0;
}
.hr-dashed {
  background-color: transparent;
  border-top: 1px dotted #edf0f5;
  color: transparent;
  height: 1px;
  margin: 20px 0;
}
.panel {
  box-shadow: 0px 0px 4px 5px #f5f5f5;
  overflow: hidden;
}
/****************************
*      Border        *
****************************/
.brdr {
  border: 1px solid #f0f0f0;
}
/****************************
*      Text size color        *
****************************/
.font-one {
  font-family: "Montserrat", sans-serif;
}
.text-bold {
  font-weight: bold;
}
.text-normal {
  font-weight: normal;
}
.text-thin {
  font-weight: 100;
}
.text-lowercase {
  text-transform: none;
}
.text-sm {
  font-size: 13px;
}
.text-lg {
  font-size: 18px;
}
.text-xl {
  font-size: 1.6em;
}
.text-2x {
  font-size: 2em;
}
.text-3x {
  font-size: 2.4em;
}
.text-4x {
  font-size: 3em;
}
.text-white,
.text-light {
  color: #fff !important;
}
.link-white a {
  color: #fff;
}
.text-grey {
  color: #ccc;
}
.text-dgrey {
  color: #818181;
}
.text-brand {
  color: #37a6c4;
}
.text-yellow {
  color: #ffff00;
}
.title .line {
  display: inline-block;
  padding-bottom: 10px;
  border-bottom: 3px solid #222;
}
/****************************
*       Margins         *
****************************/
.mt {
  margin-top: 18px;
}
.mt-0x {
  margin-top: 0 !important;
}
.mt-2x {
  margin-top: 36px;
}
.mt-3x {
  margin-top: 54px;
}
.mt-4x {
  margin-top: 90px;
}
.mt-5x {
  margin-top: 144px;
}
.mb {
  margin-bottom: 18px;
}
.mb-0x {
  margin-bottom: 0 !important;
}
.mb-2x {
  margin-bottom: 36px;
}
.mb-3x {
  margin-bottom: 54px;
}
.mb-4x {
  margin-bottom: 90px;
}
.mb-5x {
  margin-bottom: 144px;
}
.pt {
  padding-top: 18px;
}
.pt-2x {
  padding-top: 36px;
}
.pt-3x {
  padding-top: 54px;
}
.pt-4x {
  padding-top: 90px;
}
.pt-5x {
  padding-top: 144px;
}
.pb {
  padding-bottom: 18px;
}
.pb-2x {
  padding-bottom: 36px;
}
.pb-3x {
  padding-bottom: 54px;
}
.pb-4x {
  padding-bottom: 90px;
}
.pb-5x {
  padding-bottom: 144px;
}
/* Content boxes */
.content-box {
  padding: 15px;
}
.block-anchor {
  display: block;
}
/****************************
*       Content Typography         *
****************************/
.content-format {
  line-height: 1.6em;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-style: normal;
  word-wrap: break-word;
}
.content-format .h1,
.content-format .h2,
.content-format .h3,
.content-format .h4,
.content-format .h5,
.content-format .h6,
.content-format h1,
.content-format h2,
.content-format h3,
.content-format h4,
.content-format h5,
.content-format h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-weight: bold;
  font-style: normal;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 40px;
}
.content-format .h1 a,
.content-format .h2 a,
.content-format .h3 a,
.content-format .h4 a,
.content-format .h5 a,
.content-format .h6 a,
.content-format h1 a,
.content-format h2 a,
.content-format h3 a,
.content-format h4 a,
.content-format h5 a,
.content-format h6 a {
  font-size: inherit;
}
.content-format .h2,
.content-format h2 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 4px solid #f0f0f0;
}
.content-format .h3,
.content-format h3 {
  font-size: 2em;
  line-height: 1.2;
  margin-bottom: 4px;
  margin: 1em 0 0.5em;
}
.content-format .h4,
.content-format h4 {
  font-size: 1.7em;
  line-height: 1.4;
  margin-bottom: 6px;
}
.content-format .h5,
.content-format h5 {
  font-size: 1.5em;
  line-height: 1.4;
  margin-bottom: 8px;
}
.content-format .h6,
.content-format h6 {
  font-size: 1.3em;
  line-height: 1.4;
  margin-bottom: 10px;
}
.content-format strong {
  font-weight: bold;
}
.content-format ul:not(.social-awesome) {
  list-style: disc outside;
  margin: 1.714285714rem 0 1.714285714rem;
  line-height: 1.714285714;
}
.content-format ul:not(.social-awesome) li {
  margin: 0 0 0 36px;
  margin: 0 1rem 0 2.571428571rem;
}
.content-format ul:not(.social-awesome).list-unstyled {
  list-style: none;
}
.content-format ul:not(.social-awesome).list-unstyled li {
  margin: 0 0 0 24px;
}
.content-format em {
  font-style: italic;
}
.content-format p {
  margin-bottom: 1.8em;
}
.content-format figure {
  margin-bottom: 42px;
}
.content-format figure .caption {
  color: #999;
  font-size: 14px;
}
.content-format img {
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.content-format .fa {
  color: #37a6c4;
  margin-right: 10px;
}
.content-format blockquote {
  border-left: 4px solid #c3c3c3;
  border-left: 4px solid rgba(51, 51, 51, 0.17);
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.6667;
  margin-bottom: 1em;
  padding-left: 0.7778em;
}
.content-format blockquote.double-quote {
  border-left: none;
  padding-left: 1em;
}
.content-format pre {
  background: #fff;
  border: 1px solid #ededed;
  color: #666;
  font-family: Consolas, Monaco, Lucida Console, monospace, "Montserrat",
    sans-serif;
  font-size: 0.9em;
  line-height: 1.714285714;
  margin: 24px 0;
  margin: 1.714285714rem 0;
  overflow: auto;
}
.content-format ol {
  margin: 24px 0 24px;
  margin: 1.714285714rem 0 1.714285714rem;
  line-height: 1.714285714;
  list-style: decimal outside;
}
.content-format img.wp-smiley,
.content-format img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 0.07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}
/*
 * Theme Struck - Harmony - Free responsive Bootstrap admin template by Themestruck.com (http://themestruck.com)
 * Code licensed under the MIT
 * For details, see #
 */
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 5px 10px #98978b;
  font-size: 14px;
  text-transform: none;
  margin-top: 18px;
}
.btn-social > :first-child {
  width: 42px;
  line-height: 46px;
}
.btn-social {
  padding-left: 58px;
}
/* Circle buttons */
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
/* Chart design */
/* Charts */
.chart-dot-list {
  display: block;
  margin-top: 60px;
  margin-left: 20px;
}
.chart-dot-list li {
  margin-bottom: 4px;
}
.chart-dot-list li:before {
  content: "";
  height: 12px;
  width: 12px;
  margin-right: 6px;
  display: inline-block;
  background: #222;
  border-radius: 50%;
}
.chart-dot-list li.a1:before {
  background: #f7464a;
}
.chart-dot-list li.a2:before {
  background: #46bfbd;
}
.chart-dot-list li.a3:before {
  background: #fdb45c;
}
.chart-doughnut {
  padding: 41px 0;
}
/* component */
.page-title {
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f0f0f0;
}
.brand {
  background: #3e454c;
  position: relative;
  z-index: 3;
  position: fixed;
  width: 100%;
  top: 0;
}
.brand .logo {
  box-sizing: border-box;
  padding: 20px;
  float: left;
  display: block;
  width: 200px;
}
@media only screen and (min-width: 992px) {
  .brand .logo {
    width: 250px;
  }
}
.brand .logo img {
  height: 20px;
}
.brand .menu-btn {
  float: right;
  background: #232d3b;
  text-align: center;
  cursor: pointer;
  color: #fff;
  padding: 20px 20px;
}
@media only screen and (min-width: 992px) {
  .brand .menu-btn {
    display: none;
  }
}
.brand .ts-profile-nav {
  float: right;
  display: none;
}
.brand .ts-profile-nav li {
  float: left;
  position: relative;
}
.brand .ts-profile-nav li a {
  display: block;
  padding: 20px;
  color: #fff;
}
.brand .ts-profile-nav li ul {
  visibility: hidden;
  opacity: 0;
  right: 0;
  position: absolute;
}
.brand .ts-profile-nav li ul li {
  float: none;
  width: 180px;
}
.brand .ts-profile-nav li ul li a {
  padding: 10px 20px;
  background: #222;
}
.brand .ts-profile-nav .ts-account .fa-angle-down {
  float: right;
}
.brand .ts-profile-nav .ts-account > a {
  width: 180px;
  background: #2c3136;
}
.brand .ts-profile-nav .ts-account .ts-avatar {
  border-radius: 50%;
  height: 28px;
  margin: -10px 0;
  margin-right: 10px;
}
.brand .ts-profile-nav .ts-account:hover ul {
  visibility: visible;
  opacity: 1;
}
@media only screen and (min-width: 992px) {
  .brand .ts-profile-nav {
    display: block;
  }
}
.ts-sidebar::-webkit-scrollbar-track {
  background-color: transparent;
}
.ts-sidebar::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.ts-sidebar::-webkit-scrollbar-thumb {
  background-color: rgb(180, 180, 180);
}
.ts-sidebar {
  background: #2c3136;
  max-height: 0;
  transition: max-height 0.3s;
  overflow: hidden;
  position: fixed;
  z-index: 2;
  width: 100%;
  bottom: 0;
  top: 60px;
  overflow-y: auto;
}
.ts-sidebar .hidden-side {
  display: none;
}
.ts-sidebar .ts-sidebar-search {
  width: 100%;
  background: #25292a;
  border: none;
  padding: 10px 15px;
  color: #fff;
}
@media only screen and (min-width: 992px) {
  .ts-sidebar .ts-profile-nav {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .ts-sidebar {
    max-height: 100%;
    bottom: 0;
  }
}
.ts-sidebar-menu .ts-label {
  color: #585c64;
  font-weight: bold;
  padding: 8px 15px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 3px;
  margin-top: 10px;
}
.ts-sidebar-menu a {
  display: block;
  text-decoration: none;
  padding: 12px 15px;
  color: #fff;
}
.ts-sidebar-menu li {
  position: relative;
}
.ts-sidebar-menu li i {
  color: #585c64;
  margin-right: 10px;
}
.ts-sidebar-menu li ul {
  display: block;
  background: rgba(255, 0, 0, 0.12);
  background: rgba(0, 0, 0, 0.32);
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
.menu-open,
.ts-sidebar-menu .open > ul {
  max-height: 2000px;
}
.ts-sidebar-menu .open > a {
  background: rgba(51, 56, 62, 0.35);
}
.ts-sidebar-menu > .open > a {
  background: #33383e;
  border-left: 3px solid #37a6c4;
}
.ts-sidebar-menu .open > .more i {
  transform: rotate(180deg);
}
.more i {
  color: #fff;
  padding: 15px;
  transition: transform 0.3s;
}
.more {
  float: right;
  min-width: 10%;
  cursor: pointer;
}
.ts-main-content .content-wrapper {
  padding-top: 15px;
  margin-top: 60px;
}
@media only screen and (min-width: 992px) {
  .ts-main-content .ts-sidebar {
    width: 250px;
    float: left;
  }
  .ts-main-content .content-wrapper {
    margin-left: 250px;
  }
}
/* Login page */
.login-page {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* From Uiverse.io by Yaya12085 */
.radio-input input {
  display: none;
}

.radio-input {
  --container_width: 300px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  color: #000000;
  width: var(--container_width);
  overflow: hidden;
  border: 1px solid rgba(53, 52, 52, 0.226);
}

.radio-input label {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: 600;
  font-size: 14px;
}

.selection {
  display: none;
  position: absolute;
  height: 100%;
  width: calc(var(--container_width) / 3);
  z-index: 0;
  left: 0;
  top: 0;
  transition: 0.15s ease;
}

.radio-input label:has(input:checked) {
  color: #fff;
}

.radio-input label:has(input:checked) ~ .selection {
  background-color: #808080;
  display: inline-block;
}

.radio-input label:nth-child(1):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 0 / 3));
}

.radio-input label:nth-child(2):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 1 / 3));
}

.radio-input label:nth-child(3):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 2 / 3));
}

/* From Uiverse.io by devkatyall */
/* The design is inspired from Galahhad*/

.popup {
  --burger-line-width: 1.125em;
  --burger-line-height: 0.125em;
  --burger-offset: 0.625em;
  --burger-bg: #00bf63;
  --burger-color: #333;
  --burger-line-border-radius: 0.1875em;
  --burger-diameter: 3.125em;
  --burger-btn-border-radius: calc(var(--burger-diameter) / 2);
  --burger-line-transition: 0.3s;
  --burger-transition: all 0.1s ease-in-out;
  --burger-hover-scale: 1.1;
  --burger-active-scale: 0.95;
  --burger-enable-outline-color: var(--burger-bg);
  --burger-enable-outline-width: 0.125em;
  --burger-enable-outline-offset: var(--burger-enable-outline-width);
  /* nav */
  --nav-padding-x: 0.25em;
  --nav-padding-y: 0.625em;
  --nav-border-radius: 0.375em;
  --nav-border-color: #ccc;
  --nav-border-width: 0.0625em;
  --nav-shadow-color: rgba(0, 0, 0, 0.2);
  --nav-shadow-width: 0 1px 5px;
  --nav-bg: #eee;
  --nav-font-family: "Montserrat", sans-serif;
  --nav-default-scale: 0.8;
  --nav-active-scale: 1;
  --nav-position-left: 0;
  --nav-position-right: unset;
  /* if you want to change sides just switch one property */
  /* from properties to "unset" and the other to 0 */
  /* title */
  --nav-title-size: 0.625em;
  --nav-title-color: #777;
  --nav-title-padding-x: 1rem;
  --nav-title-padding-y: 0.25em;
  /* nav button */
  --nav-button-padding-x: 1rem;
  --nav-button-padding-y: 0.375em;
  --nav-button-border-radius: 0.375em;
  --nav-button-font-size: 17px;
  --nav-button-hover-bg: #00bf63;
  --nav-button-hover-text-color: #fff;
  --nav-button-distance: 0.875em;
  /* underline */
  --underline-border-width: 0.0625em;
  --underline-border-color: #ccc;
  --underline-margin-y: 0.3125em;
}

/* popup settings 👆 */

.popup {
  display: inline-block;
  text-rendering: optimizeLegibility;
  position: relative;
}

.popup input {
  display: none;
}

.burger {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: var(--burger-bg);
  width: var(--burger-diameter);
  height: var(--burger-diameter);
  border-radius: var(--burger-btn-border-radius);
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: var(--burger-transition);
  outline: var(--burger-enable-outline-width) solid transparent;
  outline-offset: 0;
}

.popup-window {
  transform: scale(var(--nav-default-scale));
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: var(--nav-padding-y) var(--nav-padding-x);
  background: var(--nav-bg);
  font-family: var(--nav-font-family);
  color: var(--nav-text-color);
  border-radius: var(--nav-border-radius);
  box-shadow: var(--nav-shadow-width) var(--nav-shadow-color);
  border: var(--nav-border-width) solid var(--nav-border-color);
  top: calc(
    var(--burger-diameter) + var(--burger-enable-outline-width) +
      var(--burger-enable-outline-offset)
  );
  left: var(--nav-position-left);
  right: var(--nav-position-right);
  transition: var(--burger-transition);
  margin-top: 10px;
}

.popup-window legend {
  padding: var(--nav-title-padding-y) var(--nav-title-padding-x);
  margin: 0;
  color: var(--nav-title-color);
  font-size: var(--nav-title-size);
  text-transform: uppercase;
}

.popup-window ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.popup-window ul button {
  outline: none;
  width: 100%;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  color: var(--burger-color);
  font-size: var(--nav-button-font-size);
  padding: var(--nav-button-padding-y) var(--nav-button-padding-x);
  white-space: nowrap;
  border-radius: var(--nav-button-border-radius);
  cursor: pointer;
  column-gap: var(--nav-button-distance);
}

.popup-window ul li:nth-child(1) svg,
.popup-window ul li:nth-child(2) svg {
  color: #00bf63;
}

.popup-window ul li:nth-child(4) svg,
.popup-window ul li:nth-child(5) svg {
  color: rgb(153, 153, 153);
}

.popup-window ul li:nth-child(7) svg {
  color: red;
}

.popup-window hr {
  margin: var(--underline-margin-y) 0;
  border: none;
  border-bottom: var(--underline-border-width) solid
    var(--underline-border-color);
}

/* actions */

.popup-window ul button:hover,
.popup-window ul button:focus-visible,
.popup-window ul button:hover svg,
.popup-window ul button:focus-visible svg {
  color: var(--nav-button-hover-text-color);
  background: var(--nav-button-hover-bg);
}

.burger:hover {
  transform: scale(var(--burger-hover-scale));
}

.burger:active {
  transform: scale(var(--burger-active-scale));
}

.burger:focus:not(:hover) {
  outline-color: var(--burger-enable-outline-color);
  outline-offset: var(--burger-enable-outline-offset);
}

.popup input:checked + .burger span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.popup input:checked + .burger span:nth-child(2) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.popup input:checked + .burger span:nth-child(3) {
  transform: translateX(
    calc(var(--burger-diameter) * -1 - var(--burger-line-width))
  );
}

.popup input:checked ~ nav {
  transform: scale(var(--nav-active-scale));
  visibility: visible;
  opacity: 1;
}
/* Button Style */
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  background-color: #dedede;
}

/* Plus Sign (Icon) */
.sign {
  width: 100%;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 18px;
}

.sign svg path {
  fill: black;
}

/* Hidden Text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: black;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s;
}

/* Hover Expanding Effect */
.Btn:hover {
  width: 200px;
  border-radius: 40px;
  transition: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  transition: 0.3s;
  padding-left: 20px;
}

.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition: 0.3s;
  padding-right: 10px;
}

/* Click Effect */
.Btn:active {
  transform: translate(2px, 2px);
}

/* Split Button Style */
.split-button {
  display: flex;
  width: 0;
  opacity: 0;
  transition: 0.3s;
}

/* Button Half Styling */
.btn-half {
  flex: 1;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border-radius: 0 20px 20px 0;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s;
}

/* Show Login & Register on Hover */
.Btn:hover .split-button {
  width: 100%;
  opacity: 1;
  display: flex;
}

/* //codelessly loader style */
.ui-loader {
  display: none; /* Hide initially */
  width: 50px;
  height: 50px;
  margin: auto;
  margin-top: 30px;
}

.loader-blk {
  color: #3f51b5;
  animation: rotate-outer08 1.4s linear infinite;
}

.multiColor-loader {
  display: block;
  animation: color-anim08 1.4s infinite;
}

.loader-circle {
  stroke: currentColor;
}

.MuiCircularProgress-circleStatic {
  transition: stroke-dashoffset 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.loader-circle-animation {
  animation: rotate-inner08 1.4s ease-in-out infinite;
  stroke-dasharray: 80px, 200px;
  stroke-dashoffset: 0;
}

@keyframes rotate-outer08 {
  0% {
    transform-origin: 50% 50%;
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-inner08 {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }

  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}

@keyframes color-anim08 {
  0% {
    color: #4285f4;
  }

  25% {
    color: #ea4335;
  }

  50% {
    color: #f9bb2d;
  }

  75% {
    color: #34a853;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-5-3 19:18:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heading-text
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.container {
  min-width: 450px;
  max-width: 550px;
  text-align: center;
  --bs-gutter-x: 0 !important;
  box-sizing: border-box;
}

.content-main {
  text-align: center;
  align-items: center;
  margin: auto;
  justify-content: center;
  background-color: #212121;
  padding: 22px;
  box-sizing: border-box;
}

.bounce-top{
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}

.main-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 50px;
}

.heading-text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #333333;
  font-size: 20px;
  color: #b6b6b6;
}

.subtext {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #666666;
  font-size: 14px;
}

#top-header {
  font-weight: 500;
  line-height: 22px;
  padding: 7px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.report {
  padding: 22px;
  display: none;
}

/* From Uiverse.io by vinodjangid07 */
.messageBox {
  width: fit-content;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2d2d;
  padding: 0 15px;
  border-radius: 10px;
  border: 1px solid rgb(63, 63, 63);
  margin: auto;
}

.messageBox:focus-within {
  border: 1px solid rgb(110, 110, 110);
}

#urlInput {
  width: 200px;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 10px;
  color: white;
}
#urlInput:focus ~ #sendButton svg path,
#urlInput:valid ~ #sendButton svg path {
  fill: #3c3c3c;
  stroke: white;
}

#sendButton {
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

#sendButton svg {
  height: 18px;
  transition: all 0.3s;
}

#sendButton svg path {
  transition: all 0.3s;
}

#sendButton:not(:disabled):hover svg path {
  fill: #3c3c3c;
  stroke: white;
}

#sendButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.validator p {
  font-size: 1.3rem;
}
.validator .requirement-list {
  margin-top: 20px;
}
.requirement-list li {
  list-style: none;
  font-size: 11px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 70px;
}

.requirement-list li i {
  font-size: 0.6rem;
  color: #aaa;
  width: 20px;
}
.requirement-list li.valid i {
  font-size: 14px;
  color: #4285f4;
}
.requirement-list li span {
  margin-left: 12px;
}
.requirement-list li.valid span {
  color: #999;
}
